body{
    background-color: #CCC1DB;
    font-family: luciida sans;
}

#bar {
    text-align: center;
    color:whitesmoke;
    background-color: #391242;
    padding: 5px;
    width: 98%;
    margin: 1px;
    font-family: luciida sans;
    clear: both;
}

#rules{
    background-color:plum;
    border: 2px solid black;
    float: right;
    margin-right: 20px;
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
}

#rules:hover{
    background-color:rgb(222, 136, 222);
}

#main-nav{
    background-color:bdbfc3;
    text-align:center;
}

#main-nav li{
    display:inline-block;
    position:relative;
}

#main-nav li:hover {
    background-color: #dbdfc3;
}

.content-area{
    float: left;
    margin: 0;
    background-color: #985396;
    color: #391242;
    border: 2px solid black;
    margin: 10px;
    margin-bottom: 5px;
    padding: 5px;
    float: left;
    clear: left;
    width:90%;
}

.main-container{
    width: 60%;
    margin: 10px;
    padding: 5px;
}

.resize{
    width:200px;
    padding:5px;
}

.resize:focus{
    width:350px;
}